@{
    ViewBag.Title = "Kontakt";
}

<div id="map-contact">
    <iframe width="340" height="270" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Piskorowice&amp;aq=0&amp;oq=Piskorowice&amp;sll=49.910071,22.344993&amp;sspn=2.748748,7.13562&amp;ie=UTF8&amp;hq=&amp;hnear=Piskorowice,+le%C5%BCajski,+podkarpackie&amp;ll=50.235418,22.529151&amp;spn=0.17063,0.445976&amp;t=m&amp;z=12&amp;output=embed"></iframe><br />
    <small><a href="http://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=Piskorowice&amp;aq=0&amp;oq=Piskorowice&amp;sll=49.910071,22.344993&amp;sspn=2.748748,7.13562&amp;ie=UTF8&amp;hq=&amp;hnear=Piskorowice,+le%C5%BCajski,+podkarpackie&amp;ll=50.235418,22.529151&amp;spn=0.17063,0.445976&amp;t=m&amp;z=12" style="color:#0000FF;text-align:left">Wyświetl większą mapę</a></small>
</div>

<hgroup class="title">
    <h1>-> @ViewBag.Title <-</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefon</h3>
    </header>
    <p>
        <span class="label">Główny:</span>
        <span>777-777-777</span>
    </p>
    <p>
        <span class="label">Po godzinach:</span>
        <span>Hot line: 700 777 777</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adres e-mail</h3>
    </header>
    <p>
        <span class="label">Pomoc techniczna:</span>
        <span><a href="mailto:darcoxxx@onet.eu">darcoxxx@onet.eu</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:darcoxxx@onet.eu">darcoxxx@onet.eu</a></span>
    </p>
    <p>
        <span class="label">Ogólny:</span>
        <span><a href="mailto:darcoch@onet.eu">darcoch@onet.eu</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adres</h3>
    </header>
    <p>
        Web#Darco<br />
        Pochodzę z Piskorowic ;)
    </p>
</section>