@{
    ViewBag.Title = "Forum";
}

<hgroup class="title">
    <h1>-> @ViewBag.Title <-</h1>
</hgroup>

<p>Stąd będę przekierowywał na podstronę <b>forum</b></p>

<form action="#">
    <p>
        <textarea id="textArea" rows="5" cols="30"></textarea>
    </p>
    <p><label><input type="radio" name="nodeAction"/>Dodaj węzeł</label>
        <label><input type="radio" name="nodeAction"/>Usuń węzeł</label>
    </p>
    Akapit nr: <select id="grafCount"></select>
    <input type="submit" value="Wyślij"/>
</form>

<div id="modifiable"></div>
