@{
    ViewBag.Title = "Strona główna portalu";
}

        <div>
            <hgroup class="title">
                <h1>-> @ViewBag.Title <-</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Aby dowiedzieć się więcej o platformie ASP.NET MVC, odwiedź witrynę
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                Strona zawiera <mark>filmy wideo, samouczki i przykłady</mark> pomocne w optymalnym wykorzystaniu możliwości platformy ASP.NET MVC.
                W przypadku pytań dotyczących platformy ASP.NET MVC odwiedź
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">nasze fora</a>.
            </p>
        </div>

<h3>Zaleca się wykonanie następujących czynności:</h3>
<ol class="round">
    <li class="one">
        <h5>Pierwsze kroki</h5>
        Platforma ASP.NET MVC udostępnia wydajny, oparty na wzorcach sposób budowania dynamicznych witryn sieci Web
            umożliwiający przejrzysty rozdział zagadnień i dający pełną kontrolę nad znacznikami,
            dzięki czemu proces opracowywania rozwiązań jest sprawny i bezproblemowy. Platforma ASP.NET MVC zawiera wiele funkcji umożliwiających
            szybkie opracowywanie zaawansowanych aplikacji obsługujących urządzenia TDD i korzystających z
            najnowszych standardów sieci Web.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Więcej informacji…</a>
    </li>

    <li class="two">
        <h5>Dodaj pakiety NuGet i szybko rozpocznij tworzenie kodu</h5>
        Rozwiązanie NuGet ułatwia instalowanie i aktualizowanie darmowych bibliotek i narzędzi.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Więcej informacji...</a>
    </li>

    <li class="three">
        <h5>Znajdź hosting sieci Web</h5>
        Znalezienie firmy oferującej hosting sieci Web z uwzględnieniem odpowiednich funkcji w korzystnej cenie
        dla Twoich aplikacji nie powinno być trudne.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Więcej informacji…</a>
    </li>
    <li class="one">
        <h5>Pierwsze kroki</h5>
        Platforma ASP.NET MVC udostępnia wydajny, oparty na wzorcach sposób budowania dynamicznych witryn sieci Web
            umożliwiający przejrzysty rozdział zagadnień i dający pełną kontrolę nad znacznikami,
            dzięki czemu proces opracowywania rozwiązań jest sprawny i bezproblemowy. Platforma ASP.NET MVC zawiera wiele funkcji umożliwiających
            szybkie opracowywanie zaawansowanych aplikacji obsługujących urządzenia TDD i korzystających z
            najnowszych standardów sieci Web.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Więcej informacji…</a>
    </li>

    <li class="two">
        <h5>Dodaj pakiety NuGet i szybko rozpocznij tworzenie kodu</h5>
        Rozwiązanie NuGet ułatwia instalowanie i aktualizowanie darmowych bibliotek i narzędzi.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Więcej informacji...</a>
    </li>

    <li class="three">
        <h5>Znajdź hosting sieci Web</h5>
        Znalezienie firmy oferującej hosting sieci Web z uwzględnieniem odpowiednich funkcji w korzystnej cenie
        dla Twoich aplikacji nie powinno być trudne.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Więcej informacji…</a>
    </li>
    <li class="one">
        <h5>Pierwsze kroki</h5>
        Platforma ASP.NET MVC udostępnia wydajny, oparty na wzorcach sposób budowania dynamicznych witryn sieci Web
            umożliwiający przejrzysty rozdział zagadnień i dający pełną kontrolę nad znacznikami,
            dzięki czemu proces opracowywania rozwiązań jest sprawny i bezproblemowy. Platforma ASP.NET MVC zawiera wiele funkcji umożliwiających
            szybkie opracowywanie zaawansowanych aplikacji obsługujących urządzenia TDD i korzystających z
            najnowszych standardów sieci Web.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Więcej informacji…</a>
    </li>

    <li class="two">
        <h5>Dodaj pakiety NuGet i szybko rozpocznij tworzenie kodu</h5>
        Rozwiązanie NuGet ułatwia instalowanie i aktualizowanie darmowych bibliotek i narzędzi.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Więcej informacji...</a>
    </li>

    <li class="three">
        <h5>Znajdź hosting sieci Web</h5>
        Znalezienie firmy oferującej hosting sieci Web z uwzględnieniem odpowiednich funkcji w korzystnej cenie
        dla Twoich aplikacji nie powinno być trudne.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Więcej informacji…</a>
    </li>
    <li class="one">
        <h5>Pierwsze kroki</h5>
        Platforma ASP.NET MVC udostępnia wydajny, oparty na wzorcach sposób budowania dynamicznych witryn sieci Web
            umożliwiający przejrzysty rozdział zagadnień i dający pełną kontrolę nad znacznikami,
            dzięki czemu proces opracowywania rozwiązań jest sprawny i bezproblemowy. Platforma ASP.NET MVC zawiera wiele funkcji umożliwiających
            szybkie opracowywanie zaawansowanych aplikacji obsługujących urządzenia TDD i korzystających z
            najnowszych standardów sieci Web.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Więcej informacji…</a>
    </li>

    <li class="two">
        <h5>Dodaj pakiety NuGet i szybko rozpocznij tworzenie kodu</h5>
        Rozwiązanie NuGet ułatwia instalowanie i aktualizowanie darmowych bibliotek i narzędzi.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Więcej informacji...</a>
    </li>

    <li class="three">
        <h5>Znajdź hosting sieci Web</h5>
        Znalezienie firmy oferującej hosting sieci Web z uwzględnieniem odpowiednich funkcji w korzystnej cenie
        dla Twoich aplikacji nie powinno być trudne.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Więcej informacji…</a>
    </li>
    <li class="one">
        <h5>Pierwsze kroki</h5>
        Platforma ASP.NET MVC udostępnia wydajny, oparty na wzorcach sposób budowania dynamicznych witryn sieci Web
            umożliwiający przejrzysty rozdział zagadnień i dający pełną kontrolę nad znacznikami,
            dzięki czemu proces opracowywania rozwiązań jest sprawny i bezproblemowy. Platforma ASP.NET MVC zawiera wiele funkcji umożliwiających
            szybkie opracowywanie zaawansowanych aplikacji obsługujących urządzenia TDD i korzystających z
            najnowszych standardów sieci Web.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Więcej informacji…</a>
    </li>

    <li class="two">
        <h5>Dodaj pakiety NuGet i szybko rozpocznij tworzenie kodu</h5>
        Rozwiązanie NuGet ułatwia instalowanie i aktualizowanie darmowych bibliotek i narzędzi.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Więcej informacji...</a>
    </li>

    <li class="three">
        <h5>Znajdź hosting sieci Web</h5>
        Znalezienie firmy oferującej hosting sieci Web z uwzględnieniem odpowiednich funkcji w korzystnej cenie
        dla Twoich aplikacji nie powinno być trudne.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Więcej informacji…</a>
    </li>
</ol>
